/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /*COMMON RULES */

  .nomobile {
    display: none;
  }

  .yesmobile  {
    display: block;
  }

  a {
    text-decoration: none;
  }

  * {
    margin: 0;
    padding: 0;
  }
/*PAGE ACCUEIL */


/*MOBILE VERSION*/

/*header mobile/tablette*/

header {
  background-color: #F56B2A;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.head {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 140px;
  height: 40px;


}

.menu a {
  background-color: white;
  padding: 25% 19%;
  border-radius: 10%;
  color: #F56B2A;
  font-size:0.9rem;


}

.menu {
  margin-left: 1em;

}

.menu2 i{
  background-color: white;
  width: 58px;
  height: 36px;
  border-radius: 10%;
  color: #F56B2A;
  text-align: center;

}
/*maincontainer mobile */

.maincontainer h2 {
  font-size: 14px;
  padding-top: 2em;
}

.maincontainer {
  width: 95%;
  margin: auto;
  text-align: center;
}

.annonce1 {
  width: 260px;
  background-color: #4183d7;
  border-radius: 2%;
  margin-top: 2em;
  text-align: center;
  color: white;
  padding: 15px;
}

.annonce2 {
  width: 260px;
  border: 1px solid #4183d7;
  border-radius: 2%;
  margin-top: 2em;
  color: #4183d7;
  text-align: center;
  padding: 15px;
}

.sec1 span {
  color: #f56b2a;
}
.maincontainer section {
  display: flex;
  flex-direction: column;
}

.maincontainer img {
  height: auto;
  width: 100%;
}

.formregion {
  height: 50px;
  width: 95%;
  margin: auto;
}

/*footer mobile */

footer {
  height: 75px;
  background-color: #474747;
}

footer article {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.date {
  margin-left: 10px;
  line-height: 70px;

}

.textelong {
  padding-bottom: 2em;
  width: 100%;
}

/*page annonce mobile*/

.gauche {
  width: 90%;
}

.info {
  margin-left: 20px;
}
.maincontainer1 h2 {
  color: #989898;

  padding-top: 1em;
  font-size: 18px;
}

.maincontainer1 {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.maincontainer1 hr {
  padding-bottom: 2em;
}

.maincontainer1 h3 {
  background-color: #666;
  color: white;
  font-size: 14px;
  padding: 1em;
}
#nom {
  width: 100%;
  margin: auto;
  height: 40px;
}

.maincontainer1 label,  .maincontainer1 select{
  display: block;
  margin-top: 10px;
}

.form2 {
  height: 40px;
  border-radius: 20px;
}

.maincontainer1 textarea{
  width: 95%;
  margin: auto;
}

.imgannonce {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

.annonce, .localisation, .informations {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 2em;
}

.boutton1 {
  height: 20px;
  padding: 10px;
  background-color: #f56b2a;
  color: white;
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  opacity: 0.5
}

.boutton2 {
  height: 20px;
  padding: 10px;
  background-color:#4183D7;
  color: white;
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}


.localisation p {
  margin: auto;
  background-color: #A7D7EF;
  border-radius: 5px;
  margin-bottom: 2em;
  font-size: 14px;
}

.imgmap {
  border: 1px solid lightgrey;
}

.localisation img {
  display: block;
  margin: auto;
}

.localisation figure {
  width: 30%;
  margin: 0;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 15px;

}
.maincontainer1 input[type="text"] {
 width: 95%;
 height: 40px;
 border-radius: 5px;
}

.champs {
  text-align: right;
}

/*footer */

.date  {
  color: white;
}

/*page offres mobile*/

.t2 {
  color: #989898;
  font-size: 18px;
  padding-top: 2em;
  padding-bottom: 2em;
}


/*aside mobile */
.annonceune {
  width: 93%;
  margin: auto;
}
.annonceune h3{
  color: white;
  background-color: #f56b2a;
  padding: 3.3%;
  text-align: center;
  font-size: 14px;
}

.annonceune img {
  width: 50%;
}

.art1 {
  border: 2px solid #f56b2a;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;

}

.ligne {
  border-bottom: 2px solid #f56b2a;
}

.art1 figure{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  align-items: flex-start;
}

.art1 figcaption {
  margin-left: 10px;
}


.p1 {
  color: #3873bd;
  font-size: 16px;
}

.p2 {
  color: #f56b2a;
}


/*galerie mobile */

.galerie {
  width: 93%;
  margin: auto;

}

.galerie3 {
  border: 1px solid #ccc;

}
.galerie ul {
  display: flex;
  list-style-type: none;

}

.galerie li {
  background-color: #e6e6e6;
  width: 120px;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 49px;
  font-weight: bold;
  margin-top: 2em;
}

.galerie li a {
  color: #1a1a1a;
  font-size: 14px;
  font-family: "OpenSansSemiBold",sans-serif;


}

.galerie .li1 {
  background-color: white;
  width: 66px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 0;
}

.galerie .li2 {
  width: 97px;
}

.galerie .li1 a {
  color: #f56b2a;
}

.form5 {
  width: 90%;
  margin: auto;
  height: 40px;
  margin-top: 10px;
}

.art2 section {
  flex-direction: column;
}
.art2 a {
  display: flex;
  border: 1px solid #ccc;
  color: black;
  font-size: 13px;
}


.art2 img {
  width: 100%;
  height: 80px;
}

.art2 h3 {
  font-size: 14px;
  color: #3873bd;
}

.art2 i {
  margin-left: 20px;
}



/*TABLETTE VERSION*/

@media (min-width:768px) {
  .yestablette {
  display: block;
}

.notablette {
  display: none;
}

/*footer*/

.topblack article {
  width: 100%;
}

/*page annonce*/

.imageannonce {
  display: flex;
justify-content: space-around;
padding-top: 1em;
padding-bottom: 1em;
}

.imageannonce figure {
  margin: 0;
}

.gauche {
  width: 65%;
  margin-left: 20px;

}


.form4 input[type="text"] {
 width: 60%;
 height: 40px;
 border-radius: 5px;

}

.boutton1 {
  height: 20px;
  padding: 10px;
  background-color: #f56b2a;
  color: white;
  display: block;
  border-radius: 5px;
  width: 20%;
  opacity: 0.5;
  margin: 0;
  margin-left: 5em;
}


.gauche {
  display: flex;
  flex-wrap: wrap;
}

.localisation {
  display: flex;
  flex-wrap: wrap;
}

.localisation h3 {
  width: 100%;
}

.form4 {
  width: 100%;
  display: flex;
}

.boutton2 {
  width: 15%;
  margin: 0;
  margin-bottom: 2em;

}

/*page index*/

.minicontainer {
  display: flex;
  flex-wrap: wrap;
}

.sec1 {
  width: 45%;
}

.France figure, .France  {
  width: 50%;
  margin: 0!important;
  padding: 0;
}


}


/*DESKTOP VERSION*/

@media  (min-width:1024px) {
.yesdesktop {
  display: block;
}

.nodesktop {
  display: none;
}

/*header desktop*/

header ul {
  display: flex;
  list-style-type: none;
  color: white;
  font-size: 12px;
}

header li {
padding: 1em;
padding-left: 3em;
}

header button {
  height: 60px;
  margin-right: 20px;
  background-color:  #F56B2A;
  color: white;
  width: 130px;
  border-right: 2px solid white;
  border-left: 2px solid white;

}
/*footer accueil*/
.grey {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
}

.grey li, .black li {
    list-style-type: none;
}

.black  {
  background-color: #474747;
  color: white;
}

.topblack {
  display: flex;
  justify-content: space-around;
}

.black a {
  color: white;
}

.topblack select {
  color: black;
}

footer p {
  text-align: center;
  padding-top: 2em;
}

footer img {
  width: 50%;
  margin-top: 1.5em;
  height: 35px;
}

footer select {
  width: 228px;
  height: 40px;
}

footer ul {
  margin-top: 2em;
}

.black li {
  margin-top: 1em;

}

footer article {
  display: flex;
  justify-content: space-between;

}
footer figure {
  display: flex;
  margin-top: 2.4em;
}

h5 {
  width: 150px;
  margin-top: 0.7em;
}

/*maincontainer accueil */

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sec1 {
  width: 30%;
  text-align: left;
}

.nomregion {
  list-style-type: none;
  text-align: right;
}

.maincontainer h2 {
  text-align: left;

}

/*index*/

.sec1 {
  width: 50%;
}

.France figure, .France  {
  width: 40%;
  margin: 0!important;
  padding: 0;
}

.textelong {
  padding-top: 2em;
}

.sec1 h2 {
  width: 65%;
}
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
